In [ ]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info['Tom']={'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
emp_info['kathy']={'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
print(emp_info['Tom'])
print(emp_info['kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [59]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}
Defaults=['emp1','emp2','emp3']
emp1={'e_name':'John','e_id':'SG101','e_sal':'$10,000'}
emp2={'e_name':'Smith','e_id':'SG102','e_sal':'$9,000'}
emp3={'e_name':'Peter','e_id':'SG103','e_sal':'$9,500'}
D = dict.fromkeys(Defaults,(emp1,emp2,emp3))
print(D)

{'emp1': ({'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}), 'emp2': ({'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}), 'emp3': ({'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'})}

In [49]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict['class']['student']['marks']['history'])

80

In [45]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}


employess = ['Kelly', 'Emma', 'John']
Defaults = {"designation": 'Application Developer', "salary": 8000}

D = dict.fromkeys(employess, Defaults)
print(D)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [17]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.
mRNA=list('UAGC')
DNA=list('ATCG')
d=dict(zip(DNA,mRNA))
print(d)

{'A': 'U', 'T': 'A', 'C': 'G', 'G': 'C'}

In [4]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
test_str = 'google.com'
res = {i : test_str.count(i) for i in set(test_str)}  
print ("The count of all characters in GeeksforGeeks is :\n "
                                               +  str(res))

The count of all characters in GeeksforGeeks is :
 {'c': 1, 'o': 3, 'e': 1, 'l': 1, 'm': 1, '.': 1, 'g': 2}

In [11]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
test_str = 'CTATCGGCACCCTTTCAGCA'
res = {i : test_str.count(i) for i in set(test_str)}  
print ("The count of all characters in GeeksforGeeks is :\n "
                                               +  str(res)) 
    
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }
test_str = "AGT"
res = {i : test_str.count(i) for i in set(test_str)}  
print ("The count of all characters in GeeksforGeeks is :\n "
                                               +  str(res))

The count of all characters in GeeksforGeeks is :
 {'A': 4, 'G': 3, 'C': 8, 'T': 5}
The count of all characters in GeeksforGeeks is :
 {'A': 1, 'G': 1, 'T': 1}

In [ ]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.--->this one..everything assigns d with {"Name":"Tom"}

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()---this will return [1,2]
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) } --->this is not a valid dict type
# 4. d = { 1: 0.4 }
# 5. None of the above

In [7]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []
def reverseLookup(dictionary,value):
  lst=[]
  for i in dictionary:
    if dictionary[i]==value:
      lst.append(i)
  return lst

print(reverseLookup({'a':1, 'b':2, 'c':2}, 1))   

def reverseLookup(dictionary,value):
  lst=[]
  for i in dictionary:
    if dictionary[i]==value:
      lst.append(i)
  return lst 
print(reverseLookup({'a':1, 'b':2, 'c':2}, 2))   

def reverseLookup(dictionary,value):
  lst=[]
  for i in dictionary:
    if dictionary[i]==value: 
      lst.append(i)
  return lst  
print(reverseLookup({'a':1, 'b':2, 'c':2}, 3) )

['a']
['b', 'c']
[]

In [34]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}
a={'a':1, 'b':2, 'c':3, 'd':2}
print("The initial dictionary is:",a)
inv_dict = {v: k for k, v in a.items()} 
print(inv_dict)

The initial dictionary is: {'a': 1, 'b': 2, 'c': 3, 'd': 2}
{1: 'a', 2: 'd', 3: 'c'}

In [16]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}
def convertvector(lst):
  d={}
  i=0
  for x in lst:
    if x!=0:
        d[i]=x
    i=i+1
  return d
print(convertvector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]))

{0: 1, 3: 2, 7: 3, 12: 4}

In [29]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []
def convertDictionary(my_dict):
 maximum = max(list(my_dict.keys()))
 my_list = [0]*(maximum+1)
 for i in my_dict:
    my_list[i] = my_dict[i]
 print(my_list)

my_dict={0: 1, 3: 2, 7: 3, 12: 4}
convertDictionary(my_dict) 

def convertDictionary(my_dict):
 maximum = max(list(my_dict.keys()))
 my_list = [0]*(maximum+1)
 for i in my_dict:
    my_list[i] = my_dict[i]
 print(my_list)

my_dict={0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
convertDictionary(my_dict) 

my_dict={0: 1, 3: 2, 7: 3, 12: 4}
convertDictionary(my_dict)

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]

In [ ]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
 }
sampleDict['emp3']['salary']=8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

sampleDict = {
 'Physics': 82,  'Math': 65,  'history': 75 }
temp=min(sampleDict.values())
[key  for (key, value) in sampleDict.items() if value == temp]

['Math']

In [ ]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }
sampleDict = {
  "name": "Kelly",
  "age":25,
 "salary": 8000,
  "city": "New york"
}
sampleDict["location"]=sampleDict.pop("city")
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}


sampleDict = {'a': 100, 'b': 200, 'c': 300}
200 in sampleDict.values()

True

In [ ]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "c"]

# Expected Output:
# {'city': 'New york', 'age': 25}
sampleDict = {
  "name": "Kelly",
  "age":'25',
  "salary": '8000',
  "city": "New york"}
sampleDict.pop("name")
sampleDict.pop("salary")
print(sampleDict)

{'age': '25', 'city': 'New york'}