In [ ]:
#Program on Loops
#program1:Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).
for i in range(1500,2700):
  list=[]
  if (i%7==0) and (i%5==0):
    print(i)

In [ ]:
#program2:Write a Python program to convert temperatures  from celsius, fahrenheit. 
a=int(input(''' *enter 1 to convert temperature from celsius to farenheit
*enter 2 to convert temperature from farenheit to celsius'''))
b=int(input('Enter the temperature'))
if (a==1):
   c=(b-(32/9))*5
   print(c)  
else:
  f=((b/5)+(32/9))
  print(f)

 *enter 1 to convert temperature from celsius to farenheit
*enter 2 to convert temperature from farenheit to celsius1
Enter the temperature20
82.22222222222221

In [ ]:
#Program3:Write a Python program to guess a number between 1 to 9.
from random import randint #Importing randint from random module
a=int(input('Enter the number between 0 to 9:'))
b=random.randint(0,9) #This generates the numbers between 0 to 9
if (a==b):
  print("It is a right match")
else:
  print("The entered number is not a right match")

Enter the number between 0 to 9:4
The entered number is not a right match

In [ ]:
#program5:Write a Python program that accepts a word from the user and reverse it.
a='Google'
b=''
for i in a:
  b=i+b
print(b)

elgooG

In [ ]:
#program6:Write a Python program to count the number of even and odd numbers from a series of numbers.
a= (1, 2, 3, 4, 5, 6, 7, 8, 9) 
j=0
for i in range(0,len(a)):
 if (i%2==0):
     j=j+1
print("The total number of even numbers",j)
print("The total number of odd numbers",len(a)-j)

The total number of even numbers 5
The total number of odd numbers 4

In [ ]:
#Program7:Write a Python program that prints each item and its corresponding type from the following list.
a= [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for i in a:
  print(type(i))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [ ]:
#program8:Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
for i in range(0,7):
  if (i==3) or (i==6):
      continue
  else:
    print(i)

0
1
2
4
5

In [ ]:
#program9:Write a Python program to get the Fibonacci series between 0 to 50. 
a,b=0,1
while(b<50):
  print(b)
  a,b=b,a+b

1
1
2
3
5
8
13
21
34

In [ ]:
#program 10:Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
for i in range(0,50):
  if (i%5==0) and (i%3==0):
    print("FizzBuzz")
  elif (i%3==0):  
    print("Fizz")
  elif (i%5==0):
    print("Buzz")
  else:
    print(i)

In [ ]:
#program11:Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
b=[]
for i in range(0,3):
   b.append([])
   for j in range(0,4):
     b[i].append(j)
print(b)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [ ]:
#program 12:Write a Python program that accepts a sequence of lines (blank line to terminate) as input and prints the lines as output (all characters in lower case).
a="This is Python Class"
b=[]
while True:
  if a:
    b.append(a.lower())
for a in b:
  print(a)

In [ ]:
#program 13:Write a Python program which accepts a sequence of comma separated 4 digit binary numbers as its input and print the numbers that are divisible by 5 in a comma separated sequence
list=[]
num=[x for x in input().split(',')]
for i in num:
  x=int(i,2)
  if not x%5:
    list.append(i)
print(','.join(list))

0001,0010,0011,0100,0101,0111
0101

In [ ]:
#program 14:Write a Python program that accepts a string and calculate the number of digits and letters.
a='Python 3.2'
j=0
k=0
for i in a:
  if i.isalpha():
    j+=1
  elif i.isdigit():
    k+=1
print("The number of letters",j)  
print("The number of digits",k)

The number of letters 6
The number of digits 2

In [ ]:
#program 15: Write a Python program to check the validity of password input by users. Go to the editor
#Validation
import re
a=input('input the password')
b=True
while b:
  if (len(a)<6) or (len(a)>12):
    break
  elif not re.search("[a-z]",a):
    break
  elif not re.search("[A-Z]",a):
    break
  elif not re.search("[0-9]",a):
   break  
  else:    
    print("valid password")
    x=False
    break

input the passwordpassworD100
valid password

In [ ]:
#program 16:Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.
list=[]
for i in range(100,400):
  s=str(i)
  if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
    list.append(s)
print(",".join(list))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288

In [ ]:
#program 17:Write a Python program to calculate a dog's age in dog's years.
a=int(input("Enter the dogs age"))
if (a>2):
  x=a-2
  y=2
  sum1=2*10.5
  sum2=x*4
  total=sum1+sum2
  print("The dogs age in dogs years are:",total)

Enter the dogs age15
The dogs age in dogs years are: 73.0

In [ ]:
#program 18:Write a Python program to check whether an alphabet is a vowel or consonant. 
a=input('enter the character:')
for m in a:
  if (m=='a'or m== 'e' or m=='i' or m=='o' or m=='u'):
    print("The entered character is vowel")
  else:
    print("The entered charcter is consonant")

enter the characterf
The entered charcter is consonant

In [ ]:
#program 19:Write a Python program to convert month name to a number of days.
a=input("Enter the month")
if (a=='January') or (a=='July') or (a=='August') or (a=='December') or (a=='March'):
  print("The number of days are 31 DAYS")
elif (a=='April' or a=='June' or a=='September' or a=='October' or a=='November'):
  print("The number of days are 30 DAYS")
else:
  print("The number of days are 28 Days")

Enter the monthJanuary
The number of days are 31 DAYS

In [ ]:
#program 20: Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.
a=int(input("enter the number"))
b=int(input("enter the number"))
sum=a+b
if sum in range(15,20):
  print(20)
else:
  print(sum)

enter the number10
enter the number6
20

In [ ]:
#program 21:Write a Python program to check a triangle is equilateral, isosceles or scalene.
a=int(input("enter the length of side 1"))
b=int(input("enter the length of side 2"))
c=int(input("enter the length of side 3"))
if (a==b==c):
  print("The given triangle is equilateral traiangle")
elif (a==b or a==c):
  print("The given traiangle is Isoceles triangle")
else:
  print("The given traingle is Scalene traingle")

enter the length of side 13
enter the length of side 23
enter the length of side 34
The given traiangle is Isoceles triangle

In [ ]:
#Program 22:Write a Python program that reads two integers representing a month and day and prints the season for that month and day.
month=input('ENTER THE MONTH')
day=int(input("Input the day"))
if month in ('January','February','March'):
  season='winter'
elif month in ('April','May','June'):
  season='Spring'
elif month in ('July','August','September'):
  season='summer'
else:
  season='autumn'      

if (month=='March') and (day>19):
  season='spring'
elif (month=='June') and (day>20):
  season='summer'
elif (month=='September') and (day>21):
  season='autumn'
elif (month=='December') and (day>20):
  season='winter'    
print(season)

In [ ]:
#program 23:Write a Python program to find the median of three values.
a= int(input("enter the number"))
b= int(input("enter the number"))
c= int(input("enter the number"))
if a>b and a>c:
  if b>c:
    print("the median is ",b)
  else:
    print("the mediam is",c)  
if b>a and b>c:
  if a>c:
    print("the median is ",a)
  else:
    print("the mediam is",c)    
if c>a and c>b:
  if a>b:
    print("the median is ",a)
  else:
    print("the mediam is",b)

enter the number89
enter the number97
enter the number2
the median is  89

In [ ]:
#program 24:Write a Python program to calculate the sum and average of n integer numbers (input from the user). 
a=int(input('enter the starting number'))
b=int(input('enter the last number'))
c=b+1
sum=0
for i in range(a,c):
  n=(c-a)
  sum=sum+i
average=sum/n
print(sum)
print(average)

enter the starting number1
enter the last number10
55
5.5

In [ ]:
#program 25:Write a Python program to create the multiplication table (from 1 to 10) of a number.
a=int(input('enter the number'))
for i in range(1,11):
  print(a*i)

enter the number6
6
12
18
24
30
36
42
48
54
60

In [ ]:
#program 26:Write a Python program to construct the following pattern, using a nested loop number.
for i in range(10):
  print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999